<div class="contenedor-landing-page">
    <div class="landing-page mat-elevation-z8">
        <h1>Bienvenido a Thonic Salud Online</h1>
        
        <div class="info">
            <h2>¿Quiénes somos?</h2>
            <p>Especialistas en salud comprometidos con el bienestar de nuestros pacientes.</p>

            <h2>Nuestra clínica</h2>
            <p>
            Thonic Salud cuenta con <strong>6 consultorios</strong>, <strong>2 laboratorios</strong> y
            una <strong>sala de espera general</strong>. Nuestros profesionales de diversas especialidades
            atienden de lunes a viernes de 8:00 a 19:00 y los sábados de 8:00 a 14:00.
            </p>

            <h2>Horarios de Atención</h2>
            <p><strong>Lunes a Viernes:</strong> 8:00 - 19:00</p>
            <p><strong>Sábados:</strong> 8:00 - 14:00</p>
        
            <h2>¿Cómo funciona?</h2>
            <p>
                Los turnos son solicitados en línea, seleccionando el profesional o especialidad. 
                La duración mínima de un turno es de 30 minutos, pero se adapta según las necesidades
                del paciente.
            </p>
        </div>
        
        <button mat-raised-button color="primary" routerLink="/ingreso">Iniciar Sesión</button>
    </div>
</div>