
<h2>Ingresos de usuarios hoy</h2>
<table border="1">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Horario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ingreso of this.ingresosObtenidos">
        <td>{{ ingreso.usuario }}</td>
        <td>{{ ingreso.fecha }}</td>
        <td>{{ ingreso.horario }}</td>
      </tr>
    </tbody>
</table>
  

<div class="espaciado-x3">
    <h2>Gráfico de barras para los turnos solicitados por especialidad</h2>
    
    <div class="contenedor-canvas">
        <canvas id="chart-turnos-por-especialidad"></canvas>
    </div>
</div>

<hr class="my-4"/>

<div class="espaciado-x3">
    <h2>Gráfico de lineas para los turnos más solicitados por día</h2>
    
    <div class="contenedor-canvas">
        <canvas id="chart-turnos-por-dia"></canvas>
    </div>
</div>

<hr class="my-4"/>


<div class="espaciado-x3">
    <h2>Gráfico de torta para los especialistas con turnos solicitados en un lapso de 15 días</h2>
    
    <div class="contenedor-canvas">
        <canvas id="chart-turnos-solicitados-lapso"></canvas>
    </div>
</div>

<hr class="my-4"/>

<div class="espaciado-x3">
    <h2>Gráfico de dona para los especialistas con turnos finalizados en un lapso de 15 días</h2>
    
    <div class="contenedor-canvas">
        <canvas id="chart-turnos-finalizados-lapso"></canvas>
    </div>
</div>

<hr class="my-4"/>

<div class="contenedor-pdf espaciado-t-x1">
    <button mat-flat-button (click)="this.DescargarPDF()" class=" mat-elevation-z8"><img src="/imgs/pdf.png" height="42px">Exportar gráficos como PDF.</button>
</div>