@-webkit-keyframes bg-pan-right{0%{background-position:0 50%}100%{background-position:100% 50%}}@keyframes bg-pan-right{0%{background-position:0 50%}100%{background-position:100% 50%}}

.contenedor-inicio {
  min-height: 860px;
  // padding-top: 5rem;
  background-image: url('/imgs/bg-log2.jpg'); // Ruta de la imagen de fondo
  padding-top: .5rem;
  background-size: 120% auto;
  // background-size: contain;
  // background-size: 150% contain;
  // background-position: center;
  padding-bottom: 1rem;
  -webkit-animation:bg-pan-right 20s linear infinite alternate-reverse both;animation:bg-pan-right 20s linear infinite alternate-reverse both;
}

.contenedor-acciones {
  max-width: 1440px;
  margin: 0 auto;
  max-height: 1000px;
  padding: 2rem;
  text-align: center;
  background-color: #f8f9fae1;
  border-radius: 8px;
  margin-top: 5rem;
}

.card {
  margin: 0 auto;
  position: relative;
  width: 400px;
  height: 250px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.card img {
  width: 70%;
  height: 90%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
  
.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.row {
  // padding: 3rem;
  gap: 5rem ;
}

// .card {

//     margin: 0 auto;
//     position: relative;
//     width: 300px;
//     height: 200px;
//     background: linear-gradient(-45deg, #29f8ba 0%, #330fff 100% );
//     border-radius: 10px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     overflow: hidden;
//     transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
// }
  
// .card img {
//     width: 90%;
//     height: 90%;
//     // border-radius: 2rem;
//     fill: #333;
//     transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
// }
  
// .card:hover {
//     transform: rotate(-5deg) scale(1.1);
//     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
// }
  
// .card__content {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%) rotate(-45deg);
//     width: 100%;
//     height: 100%;
//     padding: 20px;
//     box-sizing: border-box;
//     background-color: #fff;
//     opacity: 0;
//     transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
// }
  
// .card:hover .card__content {
//     transform: translate(-50%, -50%) rotate(0deg);
//     opacity: 1;
// }
  
// .card__title {
//     margin: 0;
//     font-size: 24px;
//     color: #333;
//     font-weight: 700;
// }
  
// .card__description {
//     margin: 10px 0 0;
//     font-size: 14px;
//     color: #777;
//     line-height: 1.4;
// }
  
// .card:hover svg {
//     scale: 0;
//     transform: rotate(-45deg);
// }
  