.contenedor-mis-turnos { 
    height: 76.6%; 
    max-width: 1500px;
    margin: 0 auto;
    background-color: #f8f9fae1;
    border-radius: 8px;
    // padding-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
    // overflow-y: auto;
    h1 { 
        margin-top: 2rem;
        color: rgb(0, 119, 255); 
    }
}

@-webkit-keyframes bg-pan-right{0%{background-position:0 50%}100%{background-position:100% 50%}}@keyframes bg-pan-right{0%{background-position:0 50%}100%{background-position:100% 50%}}
:host {
    background-image: url('/imgs/bg-log2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block; /* Para asegurarte de que ocupa toda la ventana */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100%;
    padding-top: 5rem;
    background-size: 120% auto;
    -webkit-animation:bg-pan-right 20s linear infinite alternate-reverse both;animation:bg-pan-right 20s linear infinite alternate-reverse both;
}

.contenedor-tabla {
    margin-top: -15rem;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
    
    table {
        border-collapse: separate;
        border-spacing: 0 10px; /* Espacio de 10px entre filas */
    }

    table .body tr td {
        padding: 15px;
        background-color: #fff ;
    }

    table .body tr {
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.1);
        transition: transform 0.2s;
    }
    
    table .body tr:hover {
        transform: scale(1.05);
    }
    
    table .head tr th {
        background-color: #95A5A6;
        font-size: 16px;
        text-transform: uppercase;
        padding: 25px 30px;
    }    

    table .head tr {
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.281);
    }
}

i {
    font-size: 1.5rem;
    padding-right: 0.1rem;
    color: #b0c4de;
}
.filled {
    color: #1e90ff;
}
.low {
    color: #deb0b0;
}
.filled.low {
    color: #ff1e1e;
}